.header {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.button {
    -unity-font: url("project://database/Assets/TextMesh%20Pro/Fonts/HONORSansVFNormal.ttf?fileID=12800000&guid=c16f58cca455af54d88366c4273349d9&type=3#HONORSansVFNormal");
}
